<% provide(:title, @user.email) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.email %>
</h1>
<div class="alert alert-info">
  Congratulations <%= @user.email %>. Your IRC Bouncer is ready to use.
</div>
<h1>Your IRC Bouncer is ready!</h1>
<div class="block-info">
  <h3>IP: <%= my_public_ip %></h3>
  <h3>PORT: <%= @user.port %></h3>
    <ul>
      <li> enable SSL.
      <li> allow self-signed certs.
      <li> connect with your IRC user/pass
    </ul>
  </p>
</div>

<%= render 'xirc' %>

